<mat-tab-group dynamicHeight>
    <mat-tab label="Login">
        <div class="example-small-box mat-elevation-z4">


            <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input type="text" matInput name="email" formControlName="email">
                    <mat-error *ngIf="!emailLFormControl.hasError('required')">
                        Please enter email
                    </mat-error>
                    <mat-error *ngIf="emailLFormControl.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput name="password" formControlName="password">
                </mat-form-field>

                <button class="login-button" mat-raised-button color="primary" type="submit">
                    Login
                </button>

                <button mat-button style="padding: 1rem;" (click)="loginWithGoogle()">
                    <img src="../../assets/images/Google.svg" alt="google-logo">
                    Login With Google
                </button>
            </form>


        </div>
    </mat-tab>
    <mat-tab label="Register">
        <div class="example-large-box mat-elevation-z4">

            <form class="example-form" [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">

                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input type="text" matInput [formControl]="nameRFormControl" [errorStateMatcher]="matcher" formControlName="name">
                    <mat-error *ngIf="!nameRFormControl.hasError('required')">
                        Please enter your Name
                    </mat-error>
                    <mat-error *ngIf="nameRFormControl.hasError('required')">
                        Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Pasword</mat-label>
                    <input type="password" matInput [formControl]="passwordRFormControl" [errorStateMatcher]="matcher" formControlName="password">
                    <mat-error *ngIf="!passwordRFormControl.hasError('required')">
                        Please enter password
                    </mat-error>
                    <mat-error *ngIf="passwordRFormControl.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>


                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput [formControl]="emailRFormControl" [errorStateMatcher]="matcher" formControlName="email">
                    <mat-error *ngIf="emailRFormControl.hasError('email') && !emailRFormControl.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailRFormControl.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <button class="login-button" mat-raised-button color="primary">
                    Register
                </button>
            </form>
        </div>
    </mat-tab>
</mat-tab-group>

<router-outlet></router-outlet>