<table mat-table [dataSource]="getBasketProducts()" multiTemplateDataRows class="mat-elevation-z8">
    <caption></caption>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef id="product-name">Name</th>
        <td mat-cell *matCellDef="let element"> {{element.product.name}} </td>
    </ng-container>
    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef id="product-category">Category</th>
        <td mat-cell *matCellDef="let element"> {{element.product.category}} </td>
    </ng-container>
    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef id="product-quantity">Quantity</th>
        <td mat-cell *matCellDef="let element"> x{{element.quantity}} </td>
    </ng-container>
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef id="product-price">Price</th>
        <td mat-cell *matCellDef="let element"> {{element.totalPrice}}$ </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div>
                    <img src="../../assets/images/book.png" class="example-element-image" alt="photo"/>
                </div>
                <div class="example-element-description">
                    {{element.product.description}}
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row" [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

<mat-card class="checkout-card">
    <form #orderForm="ngForm" (ngSubmit)="placeOrder(orderForm.value)">

        <div class="formfield-wrapper">
            <div>
                <p>
                    <mat-form-field appearance="legacy">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="" name="name" ngModel>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="legacy">
                        <mat-label>Surname</mat-label>
                        <input matInput placeholder="" name="surname" ngModel>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="legacy">
                        <mat-label>Phone</mat-label>
                        <input matInput placeholder="" name="phone" ngModel>
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </p>
            </div>
    
           <div>
            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="" name="address" ngModel>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>City</mat-label>
                    <input matInput placeholder="" name="city" ngModel>
                    <mat-hint></mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>Country</mat-label>
                    <input matInput placeholder="" name="country" ngModel>
                    <mat-hint></mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>Postal Code</mat-label>
                    <input matInput placeholder="" name="postalCode" ngModel>
                    <mat-hint></mat-hint>
                </mat-form-field>
            </p>
           </div>
        </div>
        <button type="submit" class="checkout-button" mat-raised-button color="primary" (click)="openSnackBar()">
            Proceed {{getBasketValue()}}$
        </button>
    </form>
</mat-card>
