<mat-card>
    <mat-card-header>
        <mat-card-title> Products </mat-card-title>
        <mat-card-subtitle>
            <mat-form-field class="example-user-input" style="font-size: 10px">
                <mat-label>{{currentCategory}}</mat-label>
                <mat-select [(value)]='currentCategory'>
                    <mat-option *ngFor="let cat of productCategories"  (click)="filterProductsByCategory(cat)">
                        <p>{{cat}}</p>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list cols="{{ numberOfColumns }}" rowHeight="2:1">
            <mat-grid-tile class="product" *ngFor="
          let product of filteredProducts
            | slice
              : currentPageSize * currentPageIndex
              : currentPageSize * (currentPageIndex + 1);
          index as i
        " [id]="selectedProductHtmlIdPrefix + i" (click)="selectProduct(product, i)">
                <div>
                    <img src="../../assets/images/book.png" alt="" />
                    <p>{{ product.name }}</p>
                </div>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-toolbar class="paginator">
            <mat-toolbar-row>
                <button class="add-to-basket" mat-raised-button color="primary" [disabled]="!isProductSelected" (click)="addProductToBasket(selectedProduct)">
                    Add to basket
                </button>
                <mat-paginator [length]="products.length" [pageSize]="currentPageSize" [pageSizeOptions]="pageSizes" (page)="onPaginateChange($event)"></mat-paginator>
            </mat-toolbar-row>
        </mat-toolbar>
    </mat-card-content>
</mat-card>