<mat-card>
    <mat-card-header>
        <mat-card-title>
            <p>
                <span matBadge="{{ getBasketSize() }}" matBadgeOverlap="false">Basket</span>
            </p>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let basketProduct of getBasketProducts()">
                <p class="basket-product-name">{{ basketProduct.product.name }}</p>
                <div>
                    <p class="basket-product-quantity">x{{basketProduct.quantity}}</p>
                </div>
                <div>
                    <p class="basket-product-total-price">{{basketProduct.totalPrice}}$</p>
                </div>

            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <button [routerLink]="checkoutRedirectPath" (click)="saveUserBasket()" class="checkout-button" mat-raised-button color="primary">
        Checkout {{getBasketValue()}}$
    </button>
</mat-card>
